# macOS
.DS_Store
*.swp

# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# SwiftPM
.build/
Package.resolved

# xcodegen regenerates this
*.xcodeproj
